*                                                                                   @android/devrel-snippets
/ai/                                                                                @android/devrel-ai
# /bluetoothle/                                                                       @android/
/camerax/                                                                           @android/devrel-camera-media
/cars/                                                                              @android/devrel-car
/compose/                                                                           @android/devrel-compose
/compose/snippets/src/main/java/com/example/compose/snippets/adaptivelayouts/       @android/devrel-adaptive-apps
# /contacts/                                                                          @android/
# /datastore/                                                                         @android/
# /healthconnect/                                                                     @android/
/identity/                                                                          @android/devrel-identity
/installprompt/                                                                     @android/devrel-wear
# /kmp/                                                                               @android/
# /kotlin/                                                                            @android/
/misc/                                                                              @android/devrel-snippets
/security/                                                                            @android/devrel-security
# /playbilling/                                                                       @android/
# /telecom/                                                                           @android/
/tv/                                                                                @android/devrel-tv
# /views/                                                                             @android/
/watchface/                                                                         @android/devrel-wear
/watchfacepush/                                                                     @android/devrel-wear
/wear/                                                                              @android/devrel-wear
/wearcompanion/                                                                     @android/devrel-wear
/xr/                                                                                @android/devrel-xr
/gradle/libs.versions.toml                                                          